body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    flex-grow: 0; /* Disable flex grow */
    flex-shrink: 0; /* Disable flex shrink */
}

nav{
    display: flex;
    flex-direction: row;
    width: 15%;
}

.col-2{
    display: flex;
    flex-direction: column;
    width: 85%;
}

header{
    display: flex;
    height: 20%;
}

main{
    display: flex;
    flex-direction: row;
    height: 80%;
}

main article{
    display: flex;
    width: 80%;
}

main aside{
    display: flex;
    width: 20%;
}

footer{
    display: flex;
    height: 20%;
}